body{
    margin: 0px;
    font-family: "Lato";

}
 /* ----------Edited By Mayur---------- */
 #topOfferBar{
    background-color: #1e516c;
    color: white;
    text-align: center;
    padding: 12px 0px;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    margin:0px auto;
    position: sticky;
    top: 0;
}
#navBar1{
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    height: 100px;
    margin: 0px auto;
}
#searchBox{
    display: flex;
    border: 1px solid black;
    width: 28%;
    height: 28px;
    margin: 30px;
    border-radius: 4px;
    background-color: rgb(70,70,70);
}
#searchBar{
    width: 94%;
    height: 100%;
    border: transparent;    
    resize: none;
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#searchButton{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 22px;
    margin-left: 4px;
}
#uboricLogoBox{
    width: 28%;
    height: 100%;
    margin-left: 55px;
}
#uboricLogo{
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#accountCartBox{
    display: flex;
    width: 28%; 
    padding: 30px 0px;
    justify-content: end;   
    margin-left: 58px;
}
.fas{
    font-size: 28px;
    margin-left: 25px;
    color: rgb(30,81,108);
}
.fas:hover{
    color: gold;
}
.signindropdown {
    position: relative; 
    display: inline-block;
    /* margin: auto; */
    /* border: 1px solid red; */
    /* justify-content: center; */
  }
  
  .signindropdown-content {
    /* left: auto; */
    right: 0;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 30px;
  }
  
  .signindropdown-content a {
    font-size: 15px;  
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 20px;
  }
  
  .signindropdown-content a:hover {background-color: white;}
  
  .signindropdown:hover .signindropdown-content {display: block;}
  
  .signindropdown-content h1{
      color: #1e516c;
  }
  .signindropdown-content h1:hover{
      color: gold;
  }
  .signindropdown-content p{
      text-align: center;
      font-size: 15px;
      cursor: pointer;
  }
  #signinBoxtxt{
      display: block;
      margin-top: 30px;
      text-align: left;
      font-size: 14px;
      color: grey;
      margin-bottom: 0px;
      
  }
  #redStar{
      color: red;
  }
  #signinEmail{
      width: 240px;
      height: 38px;
      margin-top: 0px;
      /* border-color: #ddd; */
      border: 1px solid #ddd;
      outline: none;
      
  }
  #signinPassword{
      width: 240px;
      height: 38px;
      margin-top: 0px;
      border: 1px solid #ddd;
      outline: none;
  }
  #signinButton{
      font-size: 14px;
      padding: 10px 20px;
      background-color: #ffce61;
      border: 1px solid black;
      border-radius: 3px;
      margin-top: 15px;
      margin-bottom: 20px;
      width: 100%;
      font-weight: bold;
      letter-spacing: 1px;
  }
  #signinButton:hover{
      background-color: white;
      cursor: pointer;
  }
  hr{
      border-top: 1px solid #ddd;
      border-left: none;
      border-right: none;
      border-bottom: none;
  }

  /* ----------Black NavBar Code Start---------- */
  * {box-sizing: border-box}
  body{
      font-family: "Lato";
  }
  #navBarBox{
    margin: auto;
    width: 100%;
    height: auto;   
    background-color: white;    
    margin-top: 15px;
}
.navbar{
    width: 39%;
}
.dropdown-content{
    left: 0;
    margin-left: 355px;
}
.hover1::after{
    content: ' \25BE';
}
.navbar {
overflow: hidden;
background-color: white;
margin: auto;
}  
.navbar a {
float: left;
font-size: 16px;
font-weight: bold;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;


}  
.dropdown {
float: left;
overflow: hidden;
} 
.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: black;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
font-weight: bold;
}
.navbar a:hover, .dropdown:hover .dropbtn {
background-color: black;
color:white;
}   
.dropdown-content {
display: none;
position: absolute;
background-color: white;
min-width: 50%;
/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */

}   
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}  
.dropdown-content a:hover {
background-color: white;
}   
.dropdown:hover .dropdown-content {
display: block;
}
.arrowD{
  margin-left: 15px;
  font-size: 14px;
}     
.tab {
float: left;
width: 27%;
height: auto;
}  
/* Style the buttons inside the tab */
.tab button {
display: block;
background-color: inherit;
color: rgb(131,129,129);
padding: 22px 0px 22px 2px;
width: 100%;
border-top:none;
border-left: none;
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
outline: none;
text-align: left;
cursor: pointer;
font-size: 16px;
letter-spacing: 1px;
}    
/* Change background color of buttons on hover */
.tab button:hover {
color: black;
}
.tab>:nth-child(1)::after{
  content: ' \25B8'; 
  margin-left: 150px;
}
.tab>:nth-child(2)::after{
  content: ' \25B8'; 
  margin-left: 153px;
}
.tab>:nth-child(3)::after{
  content: ' \25B8'; 
  margin-left: 117px;
}
.tab>:nth-child(4)::after{
  content: ' \25B8';
  margin-left: 25px; 
}
.tab>:nth-child(5)::after{
  content: ' \25B8'; 
  margin-left: 125px;
}
.tab>:nth-child(6)::after{
  content: ' \25B8';
  margin-left: 60px; 
}

/* Create an active/current "tab button" class */
/* .tab button.active {
background-color: #ccc;
} */

/* Style the tab content */
.tabcontent {
float: left;
padding: 0px 12px;
width: 72%;
border: none;
height: auto;
display: none;
}

/* Clear floats after the tab */
.clearfix::after {
content: "";
clear: both;
display: table;
}
td,th{
  padding: 20px 30px 0px 0px;
}
td,th:hover{
  cursor: pointer;
}
/* ----------Black NavBar Code End---------- */

/* ------------Section Name Code Start------------ */
#sectionNameBox{
    border: 1px solid white;
    width: 60%;
    height: 100px;
    margin: auto;
    margin-top: 18px;

}
#myAccount{
    display: block;
    color: #1e516c;
    font-family:'LatoRegular',sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 0px;
    
}
#home{
    color: #1e516c;
    font-family:'LatoRegular',sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
#myAccountGap{
    margin-left: 5px;
}
#Gap{
    margin-left: 5px;
    font-size: 12px;
    
}
/* ------------Section Name Code Start------------ */

 /* ----------Edited By Mayur---------- */


#tpbr_box{
    line-height: 2em;
    padding: 5px 0px 6px;
    background:#1e516c;
    margin:0 auto;
    text-align:center;
    width:100%; color:white; font-size:15px; 
    font-family: Helvetica, Arial, sans-serif;  font-weight:300;
}
h1{
   color: teal;
   text-align:center;
}
p{
color: teal;
text-align: center;
}

/* Mayur Edited */

.coupon-toggle{
    /* border: 1px solid red; */
    border-radius: 2px;
    width:60%;
    height: 62px; 
    margin: auto;
    background:black;
    color:white;
    padding: 19px 25px;
    font-size:16px; 
}

.showcoupon{
    color: white;
    text-decoration: underline;
}
#checkoutBox{
    /* border: 1px solid blue; */
    display: flex;
    width: 60%;
    height: 1690px;
    margin: auto;
    margin-top: 20px;
}
#checkouDetails{
    /* border: 1px solid red; */
    width: 682.48px;
    height: auto;
    margin: 20px 0px 0px;
    padding: 0px 15px;
}
#checkoutInfo{
    /* border: 1px solid yellow; */
    width: 457px;
    margin: 20px 0px 0px;
    padding: 40px 40px;
    background-color: #FAFAFA;
}
#checkoutLabels1{
    font-size: 13px;
    font-weight: bold;
    color: #313131;
    
}
#checkoutLabels2{
    font-size: 13px;
    font-weight: bold;
    margin-left: 252px;
    color: #313131;

    
}
#fName{
    margin-top: 10px;
    width: 311px;
    height:40px ;
    border: 1px solid #ddd;
    outline: none;   
}
#lName{
    margin-top: 5px;
    width: 311px;
    height:40px ;   
    margin-left: 25px;
    border: 1px solid #ddd;
    outline: none;
}
#checkoutLabels3{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #313131;
    
}
#cName{
    width: 100%;
    height:40px ;   
    border: 1px solid #ddd;
    margin-top: 10px;
    outline: none;
}
#checkoutlabels4{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #313131;

}
#countryName{
    width: 100%;
    height:40px ;   
    border: 1px solid #ddd;
    outline: none;
    padding: 0px 0px 0px 5px;
    margin-top: 10px;
}
#checkoutAdd{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #313131;

}
#address{
    width: 100%;
    height:40px ;   
    border: 1px solid #ddd;
    outline: none;
    padding: 0px 0px 0px 10px;
    margin-top: 10px; 
}
#townCity{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px; 
    color: #313131;

}
#stateCounty{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 252px;
    color: #313131;

}
#cityName{
    margin-top: 10px;
    width: 311px;
    height:40px ;
    border: 1px solid #ddd;
    outline: none;
}
#stateName{
    margin-top: 5px;
    width: 311px;
    height:40px ;   
    margin-left: 25px;
    border: 1px solid #ddd;
    outline: none;
}
#checkoutZip{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #313131;

}
#checkoutPhone{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 234px;
    color: #313131;

}
#zipCode{
    margin-top: 10px;
    width: 311px;
    height:40px ;
    border: 1px solid #ddd;
    outline: none;
}
#phoneNo{
    margin-top: 10px;
    width: 311px;
    height:40px ;
    border: 1px solid #ddd;
    outline: none;
    margin-left: 25px;
}
#checkoutAltPhone{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #313131;
}
#checkoutEmail{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 131px;
    color: #313131;
}
#AltPhone{
    margin-top: 10px;
    width: 311px;
    height:40px ;
    border: 1px solid #ddd;
    outline: none; 
}
#emailID{
    margin-top: 10px;
    width: 311px;
    height:40px ;
    border: 1px solid #ddd;
    outline: none;
    margin-left: 25px;
}
#emailCarttext{
    font-size: 9px;
    color: #313131;
    width: 311px;
    margin-left: 340px;
}
#addInfoTxt{
    color: #313131;
}
#noteArea{
    font-size: 14px;
    color: #313131;
}
#noteAboutOrder{
    width: 100%;
    border: 1px solid #ddd;
    height: 74.5px;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
}


#product{
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
}
#subtotal{
    font-size: 13px;
    font-weight: bold;
    margin-left: 215px;
}
#hr1{
    border-top: 2px solid grey;
}
#rebook{
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
}
#price1{
    font-size: 15px;
    font-weight: bold;
    margin-left: 85px;
}
#subTotal{
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
}
#priceComm{
    font-size: 15px;
    margin-left: 221px;
}
#total{
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px; 
}
#priceComm1{
    font-size: 15px;
    margin-left: 248px;
}
#returningCust{
    width: 100%;
    height:62px ;
    color: white;
    background-color: black;
    padding: 20px 35px;
    margin-top: 50px;
}
#clickLogin{
    color: white;
    text-decoration: underline;
}
#offersDetailsBox{
    border: 2px solid black;
    border-radius: 3px;
    width: 100%;
    height: 596px;
    padding: 20px 10px 10px;
    margin-top: 45px;
}
.pre-order-span {
    background: -webkit-linear-gradient(
    45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab 80%);
    background-clip: border-box;
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
}
.labelOfferText {
    margin-top: 20px;
    background-color: #ffce61;
    padding: 16px 26px;
    border-radius: 2px;
    color: #000;
    clear: both;
    width:100%;
    font-size: 1rem;
    line-height: 1.875;
    border-left: 0.61805em solid rgba(0, 0, 0, 0.15);
}
#cod{
    display: inline-block;
    font: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 40px;
    margin-bottom: 15px;
}
#ccavenue{
    display: inline-block;
    font: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 12px; 
    margin-top: 15px;
}
#cavnimg{
    display:block;
    margin-top: -30px;
    margin-left: 180px;
}
#paytm{
    display: inline-block;
    font: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 12px; 
    margin-top: 10px; 
}
#paytmimg{
    height: 25px;
    margin-top: 0px;
    margin-left: 70px;
}
#payrazorpay{
    display: inline-block;
    font: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 12px; 
    margin-top: 5px;
}
#razorimg{
    height: 35px;
    margin-top: 0px;
    margin-left: 100px;
}
#prsnlData{
    font-size: 16px;
    line-height: 1.875;
    text-align: justify;
    margin-top: 50px;
    color: #222;
    
}
#place_order{
    width: 100%;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 3px;
    letter-spacing: 1PX;
    background-color: #ffce61;
    cursor: pointer;
}
#granteedIMG{
    width: 60%;
    height: 315.48px;
    /* border: 1px solid red; */
    background-image: url("https://www.uboric.com//wp-content/uploads/2020/07/payment.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    margin-top: 40px;
}



/* Mayur Edited */


#qt{
    /* margin-top: -40px; */
    grid-area: qt;
}
#Zreview{
    /* border: 1px solid red; */
    width: 100%;
    height: 650px;
    text-align: center;
    display: grid;
    grid-template-columns: 425px 425px 325px ;
    grid-template-rows: 80px 25px 350px 25px;
    grid-gap: 25px;
    text-align: center;
    grid-template-areas: 
    "h h h"
    "qt qt qt"
    "mid1 mid2 mid3"
    "b b b";
    justify-content: center;
    background-color: #837418;
    color: white;
    font-family: Lato, sans-serif;
    margin-top: 0px;
}
#head{
    grid-area: h;
    /* border: 1px solid blue; */
    padding: 20px;
    
}
#head > h1{
    font-weight: lighter;
    font-size: 36px;
    color: white;
}
.qts{
    color: #ffce61;
}
#z1{
    grid-area: mid1;
    /* border: 1px solid orange; */
}
#z2{
    grid-area: mid2;
    /* border: 1px solid orange; */
}
#z3{
    grid-area: mid3;
    /* border: 1px solid orange; */
}
#bottom{
    grid-area: b;
    /* border: 1px solid saddlebrown; */
}
#z1 > p{
    line-height: 35px;
    padding: 25px;
    font-size: 19px;
    color: white;
}
#z1>:nth-child(2){
    letter-spacing: 1px;
    margin-bottom: 0px;
    font-weight: bold;
}
#z2 > p{
    line-height: 35px;
    padding: 25px;
    font-size: 19px;
    color: white;
}
#z2>:nth-child(2){
    letter-spacing: 1px;
    margin-bottom: 0px;
    font-weight: bold;
}
#z3 > p{
    line-height: 35px;
    padding: 25px;
    font-size: 19px;
    color: white;
}
#z3>:nth-child(2){
    letter-spacing: 1px;
    margin-bottom: 0px;
    
}
.ratingStar{
    /* display: inline-block; */
    font-size: 12px;
    color: rgb(255,206,97);
    margin-top: 0px;
    /* margin-right: 0px; */
    margin-left: 0px;
}
#custRating{
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    font-family: "Lato";
    margin-top: 0px;
    font-weight: lighter;
}
#revbtn{
    padding: 12px 24px;
    border-radius: 3px;
    background-color: #ffce61;
    font-size: 15px;
    border: none;
}
#Zfooter{
    width: 100%;
    height: 380px;
    /* border: 1px solid red; */
    text-align: center;
    background-color: black;
}
#Znav{
    margin-top: 15px;
    font-family: Lato, sans-serif;
}
#Znav > a:hover{
    color: #ffce61;
}
#googlePlay{
    margin-top: 60px;
}
#aboutUs,#contact,#return,#account,#policy,#seller,#term{
    margin-right: 50px;
    color: white;
    text-decoration: none;
}
#Zicon{
    display: grid;
    grid-template-columns: repeat(2,50px);
    grid-template-rows: repeat(1,50px);
    justify-content: center;
}
#Znav > #Zicon > .social{
    /* border: 1px solid red; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    background-color: #ffce61;
    margin-top: 15px;
}
.faceLogo,.instLogo {
    margin-top: 13px;
    text-align: center;
}
#para{
    margin-top: 25px;
    color: white;
    font-family: Lato, sans-serif;
}