
#descriptionsize{
   
    width: 100%;
   
    height:auto;
   
   overflow: hidden;
}
.rahulsizebox{
    width: 920px;
   
    background-color: white;
    margin: 1% auto;
    
    padding: 5px;
 height: auto;
    border: 1px solid transparent;
   
   
}
.button-box{
    border: 1px solid transparent;
    height: 40px;
    width: 400px;
    margin: 35px auto;
    font-size: 18px;
    font-weight: 700;
  
}
.toggle-btn{
    padding: 0px 30px;
    cursor: pointer;
    background-color: white;
    border: transparent;
    font-weight: 700;
   
   
}
.toggle-btn:hover{
    text-decoration: underline;
    

}
#btn{
    top:0;
    left: 0;
    width: 50px;
    height: 5px;
    margin: 0px;
    text-decoration: underline;

}
#pri{
    display: flex;
    width: 3000px;
  border: 1px solid transparent;
    height: 200px;
 
}
#dis{
    width: 400px;
    border: 1px solid transparent;
      height: 200px;
  margin-left: 80px;
  line-height: 30px;
  

    
  
}
#dissize{
   width: 700px;
   height: auto;
   margin-left: 1000px;
   border: 1px solid transparent;
   margin-bottom: 10px;
   max-height: fit-content;

}
td{
    width: 350px;
}















#customers {
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    width: 100%;

  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
  }





























  #rahu{
    color:black;
    font-size: 16px;
    font-weight: 700;
  
  }
  #rahula{
    padding: 10px;
  }
#rahu:hover{
  text-decoration: underline;
  transition:90s;
  background-color: black;


}







  
  @font-face {
    font-family: 'LatoRegular';
    src: url(font/Lato-Regular.ttf);
}
body{
    margin: 0px;
}

#navBar1{
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    height: 100px;
    margin: 0px auto;
}
#searchBox{
    display: flex;
    border: 1px solid black;
    width: 28%;
    height: 28px;
    margin: 30px;
    border-radius: 4px;
    background-color: rgb(70,70,70);
}
#searchBar{
    width: 94%;
    height: 100%;
    border: transparent;    
    resize: none;
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#searchButton{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 22px;
    margin-left: 4px;
}
#uboricLogoBox{
    width: 28%;
    height: 100%;
    margin-left: 55px;
}
#uboricLogo{
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#accountCartBox{
    display: flex;
    width: 28%; 
    padding: 30px 0px;
    justify-content: end;   
    margin-left: 58px;
}
.fas{
    font-size: 28px;
    margin-left: 25px;
    color: rgb(30,81,108);
}
.fas:hover{
    color: gold;
}
#navBarBox{
    margin: auto;
    width: 100%;
    height: auto;   
    background-color: white;    
    margin-top: 15px;
    margin-left: 9%;
}
.navbar{
    width: 70%;
}
.dropdown-content{
    left: 0;
    margin-left: 355px;
}
.hover1::after{
    content: ' \25BE';
}
#sectionNameBox{
   
    width: 80%;
    height: 140px;
    margin: auto;
    margin-top: 18px;

}
#myAccount{
    display: block;
    color: #1e516c;
    font-family:'LatoRegular',sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 0px;
    
}
#home{
    color: #1e516c;
    font-family:'LatoRegular',sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
#myAccountGap{
    margin-left: 5px;
}
#Gap{
    margin-left: 5px;
    font-size: 12px;
    
}
#loginSignupBox{
    display: grid;
    grid-template-columns: 29% 29%;
    grid-gap: 0px 30px;
    margin: auto;
    justify-content: center;
    margin-bottom: 0px;
}
#loginBox{
    /* border: 1px solid black; */
    height: 660px;
    padding-top: 10px;
    
}
#headTxt{
    font-family:'LatoRegular',sans-serif;
    text-align: center;
    margin-top: 0px;
}
#loginFormDiv{
    /* border: 1px solid red; */
    background-color: #FAFAFA;
    height: 81.5%;
    padding: 30px;
    box-shadow: 0px 10px 9px -10px rgba(17, 17, 17, 0.384);
}
#loginForm{
    /* border: 1px solid black; */
    height: 100%;

}
#connectWith{
    margin-top: 0px;
    font-family: 'LatoRegular',sans-serif;
    margin-bottom: 6px;
}
#googleSignin{
    border: 1px solid rgb(79,113,232);
    width: 38%;
    height: 32px;
    border-radius: 3px;
    display: flex;
    background-color: white;
    margin-bottom: 60px;
}
#googleImage{
    background-color: white;
    margin-left: 5px;
    height: 30px;
}
#loginwithgooglebox{
    width: 100%;
    height: 100%;
    background-color: rgb(79,113,232);
    justify-content: center;
    text-align: center;
}
#loginGoogleTxt{
    color: white;
    font-family: 'LatoRegular',sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top:7px

}
#redStar{
    color: red;
}
#labels{
    font-family: 'LatoRegular',sans-serif;
    font-size: 14px;
    color: #313131;
}
#inputBox{
    background-color: #FFFFFF;
    font-size: 0.875rem;
    border: 1px solid #a1a0a05d;
    display: block;
    width: 91.5%;
    height: 58px;
    padding: 14px 20px;
    margin-top: 10px;
    margin-bottom: 12px;

}
#inputBox:focus{
    outline: 1px solid orange;
    
}
#submitButton{
    margin-left: 30px;
    background-color: #ffce61; 
    letter-spacing: 1px ;
    border-radius: 3px ;
    padding: 14px 20px;
    border: 1px solid black;
    font-weight: bold;
    color: #000 ;
}
#lostPassSignup{
    font-family: 'LatoRegular',sans-serif;
    margin-top: 30px;
    line-height: 3px;
}
#signupFormDiv{
    height: 81.5%;
    padding: 30px;
}
#randomTxt1{
    margin-top: 0px;
    font-family: 'LatoRegular',sans-serif;
    margin-bottom: 25px;
    line-height: 30px;
}
#randomTxt2{
    margin-top: 0px;
    font-family: 'LatoRegular',sans-serif;
    margin-bottom: 20px;
    line-height: 30px;
}
#randomTxt3{
    margin-top: 0px;
    font-family: 'LatoRegular',sans-serif;
    margin-bottom: 25px;
    line-height: 30px;
}
#registerButton{
    margin-left: 30px;
    background-color: #ffce61; 
    letter-spacing: 1px ;
    border-radius: 3px ;
    padding: 14px 20px;
    border: 1px solid black;
    font-weight: bold;
    color: #000 ;
    margin-bottom: 15px;
}
#emailBox{
    background-color: #FFFFFF;
    font-size: 0.875rem;
    border: 1px solid #a1a0a05d;
    display: block;
    width: 91.5%;
    height: 58px;
    padding: 14px 20px;
    margin-top: 10px;
    margin-bottom: 12px;
}
#emailBox:focus{
    outline: 1px solid orange;
}
#trial{
    height: 2000px;
}
@media only screen and (min-width:769px){
    #navBar1MV{
        /* display: flex; */
        /* border: 1px solid red; */
        width: 100%;
        height: 190px;
        margin: 0px auto;
        display: none;
    }
    #navBar1IPV{
        display: flex;
        /* border: 1px solid red; */
        width: 100%;
        height: 100px;
        margin: 0px auto;
        display: none;
    }
}
@media only screen and (min-width:375px) and (max-width:768px){
    #loginSignupBox{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 30px;
        margin:30px;
        justify-content: center;
    }
    #navBar1MV{
        /* display: flex; */
        /* border: 1px solid red; */
        width: 100%;
        height: 190px;
        margin: 0px auto;
        display: none;
    }
    #navBar{
       border: 1px solid blue;
        margin: auto;
        width: 60%;
       height: 50px;
        padding: 1px;
      display: none;
    }
    #navBarBox{
        /* border: 1px solid blue; */
        margin: auto;
        width: 60%;
        height: 40px;
        display: flex;
        background-color: white;
        justify-content: center;
        margin-top: 15px;
        display: none;
    }
    #navBar1{
        display: flex;
        /* border: 1px solid red; */
        width: 100%;
        height: 100px;
        margin: 0px auto;
        display: none;
    }
    #navBar1IPV{
        display: flex;
        /* border: 1px solid red; */
        width: 100%;
        height: 100px;
        margin: 0px auto;
        
    }
    #searchBoxIPV{
        display: flex;
        border: 1px solid black;
        width: 220px;
        height: 28px;
        margin:0 5px;
        border-radius: 4px;
        background-color: rgb(70,70,70);
        margin-left: 0px;
        margin-right: 40px;
        margin-top: 30px;
        
    }
    #searchBarIPV{
        width: 94%;
        height: 100%;
        border: transparent;    
        resize: none;
        outline: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    #searchButtonIPV{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        width: 22px;
        margin-left: 4px;
    }
    #uboricLogoBoxIPV{
        width: 20%;
        height: 50%;
        margin: 0 5px;
        margin-right: 90px;
        margin-top: 15px;
    }
    #uboricLogoIPV{
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
    }
    #accountCartBoxIPV{
        display: flex;
        width: 28%; 
        padding: 30px 20px;
        justify-content: end;   
        margin-left: 58px;
    }
    .far{
        font-size: 28px;
        margin-left: 25px;
        color: rgb(30,81,108);
    }
    #categoryBoxIPV{
        width: 20%; 
        padding: 30px 0px;
        justify-content: start;            
    }
    #googleSignin{
        border: 1px solid rgb(79,113,232);
        width: 65%;
        height: 32px;
        border-radius: 3px;
        display: flex;
        background-color: white;
        margin-bottom: 60px;
    }

    #Zreview{
        border: 1px solid red;
        width: 100%;
        height: 500px;
        text-align: center;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 350px;
        grid-gap: 25px;
        text-align: center;
        
        justify-content: center;
        background-color: #837418;
        color: white;
        font-family: "Lato", sans-serif;
        /* margin-top: 0px; */
    }
    #z3{
        grid-area: mid3;
        display: none;
        /* border: 1px solid orange; */
    }
    #z1{
        grid-area: mid1;
        display: none;
        /* border: 1px solid orange; */
    }
}
@media only screen and (min-width:0px) and (max-width:375px){
    #navBarBox{
        /* border: 1px solid blue; */
        margin: auto;
        width: 60%;
        height: 40px;
        display: flex;
        background-color: white;
        justify-content: center;
        margin-top: 15px;
        display: none;
    }
    #navBar1IPV{
        display: flex;
        /* border: 1px solid red; */
        width: 100%;
        height: 100px;
        margin: 0px auto;
        display: none;
    }
    #topOfferBar{
        background-color: #1e516c;
        color: white;
        text-align: center;
        padding: 19px 0px;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
        width: 100%;
        margin:0px auto;
        /* position: -webkit-sticky; */
        position: sticky;
        top: 0;
    }
    #loginSignupBox{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 30px;
        margin: 15px;
        justify-content: center;
    }
    #googleSignin{
        border: 1px solid rgb(79,113,232);
        width: 70%;
        height: 32px;
        border-radius: 3px;
        display: flex;
        background-color: white;
        margin-bottom: 60px;
    }
    #navBar1{
        display: flex;
        /* border: 1px solid red; */
        width: 100%;
        height: 100px;
        margin: 0px auto;
        visibility: hidden;
        display: none;
    }
    #navBar1MV{
        /* display: flex; */
        /* border: 1px solid red; */
        width: 100%;
        height: 190px;
        margin: 0px auto;
    }
    #searchBoxMV{
        display: flex;
        border: 1px solid black;
        width: 90%;
        height: 28px;
        margin-top: 50px;
        border-radius: 4px;
        background-color: rgb(70,70,70);
        margin: auto;
        margin-bottom: 0px;
    }
    #searchBarMV{
        width: 94%;
        height: 100%;
        border: transparent;    
        resize: none;
        outline: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    #searchButtonMV{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        width: 22px;
        margin-left: 4px;
    }
    #uboricLogoBoxMV{
        /* border: 1px solid black; */
        width: 100%;
        height: 55px;  
        margin-top: 20px;   
    }
    #uboricLogoMV{
        padding: 10px; 
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
        height: 55px;
        margin-top: 11px;
        
        /* justify-content: center; */
    }
    #accountCartBoxMV{
        /* border: 1px solid blue; */
        display: flex;
        width: 94%;
        padding: 10px 20px 10px 0px;
        /* position: absolute; */
        right: 0;  
        justify-content: right;
        margin-bottom: 18px;
        
    }
    .fas{
        font-size: 20px;
        margin-left: 25px;
        color: black;
    }
    .barsmod{
        margin-right: 190px;
    }
    #navBar{
        border: 1px solid blue;
        margin: auto;
        width: 60%;
        height: 40px;
        padding: 10px;
        display: none;
    }
    #myAccount{
        display: block;
        color: #1e516c;
        font-family:'LatoRegular',sans-serif;
        font-size: 18px;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom: 0px;
        margin-top: 0px;
        
    }
    #home{
        color: #1e516c;
        font-family:'LatoRegular',sans-serif;
        font-size: 16px;
        text-align: center;
        margin-top: 15px;
    }

    #z3{
        grid-area: mid3;
        display: none;
        /* border: 1px solid orange; */
    }
    #z1{
        grid-area: mid1;
        display: none;
        /* border: 1px solid orange; */
    }
   
}




* {box-sizing: border-box}
body{
    font-family: "Lato";
}
.navbar {
overflow: hidden;
background-color: white;
margin: auto;
}  
.navbar a {
float: left;
font-size: 16px;
font-weight: bold;
color: black;
text-align: center;
padding: 20px 0px;
text-decoration: none;


}  
.dropdown {
float: left;
overflow: hidden;
margin-top: 1%;
} 
.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: black;
padding: 0px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
font-weight: bold;
}
.navbar a:hover, .dropdown:hover .dropbtn {
background-color: black;
color:white;
}   
.dropdown-content {
display: none;
position: absolute;
background-color: white;
min-width: 50%;
/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */

}   
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}  
.dropdown-content a:hover {
background-color: white;
}   
.dropdown:hover .dropdown-content {
display: block;
}
.arrowD{
margin-left: 15px;
font-size: 14px;
}     
.tab {
float: left;
width: 27%;
height: auto;
}  
/* Style the buttons inside the tab */
.tab button {
display: block;
background-color: inherit;
color: rgb(131,129,129);
padding: 22px 0px 22px 2px;
width: 100%;
border-top:none;
border-left: none;
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
outline: none;
text-align: left;
cursor: pointer;
font-size: 16px;
letter-spacing: 1px;
}    
/* Change background color of buttons on hover */
.tab button:hover {
color: black;
}
.tab>:nth-child(1)::after{
content: ' \25B8'; 
margin-left: 150px;
}
.tab>:nth-child(2)::after{
content: ' \25B8'; 
margin-left: 153px;
}
.tab>:nth-child(3)::after{
content: ' \25B8'; 
margin-left: 117px;
}
.tab>:nth-child(4)::after{
content: ' \25B8';
margin-left: 25px; 
}
.tab>:nth-child(5)::after{
content: ' \25B8'; 
margin-left: 125px;
}
.tab>:nth-child(6)::after{
content: ' \25B8';
margin-left: 60px; 
}

/* Create an active/current "tab button" class */
/* .tab button.active {
background-color: #ccc;
} */

/* Style the tab content */
.tabcontent {
float: left;
padding: 0px 12px;
width: 72%;
border: none;
height: auto;
display: none;
}

/* Clear floats after the tab */
.clearfix::after {
content: "";
clear: both;
display: table;
}
td,th{
padding: 20px 30px 0px 0px;
}
td,th:hover{
cursor: pointer;
}



body{
font-family: "Lato", sans-serif;
}
#qt{
/* margin-top: -40px; */
grid-area: qt;
}
#Zreview{
/* border: 1px solid red; */
width: 100%;
height: 650px;
text-align: center;
display: grid;
grid-template-columns: 425px 425px 325px ;
grid-template-rows: 80px 25px 350px 25px;
grid-gap: 25px;
text-align: center;
grid-template-areas: 
"h h h"
"qt qt qt"
"mid1 mid2 mid3"
"b b b";
justify-content: center;
background-color: #837418;
color: white;
font-family: Lato, sans-serif;
margin-top: 0px;
}
#head{
grid-area: h;
/* border: 1px solid blue; */
padding: 20px;
}
#head > h1{
font-weight: lighter;
font-size: 36px;
}
.qts{
color: #ffce61;
}
#z1{
grid-area: mid1;
/* border: 1px solid orange; */
}
#z2{
grid-area: mid2;
/* border: 1px solid orange; */
}
#z3{
grid-area: mid3;
/* border: 1px solid orange; */
}
#bottom{
grid-area: b;
/* border: 1px solid saddlebrown; */
}
#z1 > p{
line-height: 35px;
padding: 25px;
font-size: 19px;
}
#z1>:nth-child(2){
letter-spacing: 1px;
margin-bottom: 0px;
font-weight: bold;
}
#z2 > p{
line-height: 35px;
padding: 25px;
font-size: 19px;
}
#z2>:nth-child(2){
letter-spacing: 1px;
margin-bottom: 0px;
font-weight: bold;
}
#z3 > p{
line-height: 35px;
padding: 25px;
font-size: 19px;
}
#z3>:nth-child(2){
letter-spacing: 1px;
margin-bottom: 0px;

}
.ratingStar{
/* display: inline-block; */
font-size: 12px;
color: rgb(255,206,97);
margin-top: 0px;
/* margin-right: 0px; */
margin-left: 0px;
}
#custRating{
font-size: 16px;
letter-spacing: 1px;
color: white;
font-family: "Lato";
margin-top: 0px;
font-weight: lighter;
}
#revbtn{

border-radius: 3px;
background-color: #ffce61;
font-size: 15px;
border: none;
}
#Zfooter{
width: 100%;
height: 380px;
/* border: 1px solid red; */
text-align: center;
background-color: black;
}
#Znav{
margin-top: 15px;
font-family: Lato, sans-serif;
}
#Znav > a:hover{
color: #ffce61;
}
#googlePlay{
margin-top: 60px;
}
#aboutUs,#contact,#return,#account,#policy,#seller,#term{
margin-right: 50px;
color: white;
text-decoration: none;
}
#Zicon{
display: grid;
grid-template-columns: repeat(2,50px);
grid-template-rows: repeat(1,50px);
justify-content: center;
}
#Znav > #Zicon > .social{
/* border: 1px solid red; */
width: 40px;
height: 40px;
border-radius: 50%;
text-align: center;
margin: auto;
background-color: #ffce61;
margin-top: 15px;
}
.faceLogo,.instLogo {
margin-top: 13px;
text-align: center;
}
#para{
margin-top: 25px;
color: white;
font-family: Lato, sans-serif;
} 



.signindropdown {
position: relative; 
display: inline-block;
/* margin: auto; */
/* border: 1px solid red; */
/* justify-content: center; */
}

.signindropdown-content {
/* left: auto; */
right: 0;
display: none;
position: absolute;
background-color: white;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
padding: 10px 30px;
}

.signindropdown-content a {
font-size: 15px;  
color: black;
text-decoration: none;
display: block;
margin-top: 20px;
}

.signindropdown-content a:hover {background-color: white;}

.signindropdown:hover .signindropdown-content {display: block;}

.signindropdown-content h1{
  color: #1e516c;
}
.signindropdown-content h1:hover{
  color: gold;
}
.signindropdown-content p{
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}
#signinBoxtxt{
  display: block;
  margin-top: 30px;
  text-align: left;
  font-size: 14px;
  color: grey;
  margin-bottom: 0px;
  
}
#redStar{
  color: red;
}
#signinEmail{
  width: 240px;
  height: 38px;
  margin-top: 0px;
  /* border-color: #ddd; */
  border: 1px solid #ddd;
  outline: none;
  
}
#signinPassword{
  width: 240px;
  height: 38px;
  margin-top: 0px;
  border: 1px solid #ddd;
  outline: none;
}
#signinButton{
  font-size: 14px;
  padding: 10px 20px;
  background-color: #ffce61;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
}
#signinButton:hover{
  background-color: white;
  cursor: pointer;
}
hr{
  border-top: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

